<!DOCTYPE html>
<html lang="en-US">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<body>
		<div ng-app="myApp" ng-controller="myCtrl">
			First Name: <input type="input" ng-model="firstName"><br>
			Last Name: <input type="input" ng-model="lastName"><br>	
			<br>
			Full Name: <span>{{firstName + " " + lastName}}	</span><!--uses expression -->
		
	 		<p>Name : <input type="input" ng-model="name"></p>
	 		<h1>Hello <span ng-bind="name"> </span> </h1> <!--uses ng-bind directive to inform all within the box -->
	    </div>

		<script>   //scripts placed after the root element where the app resides
			var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope) {
			    $scope.firstName = "John"; //all are place-holders
			    $scope.lastName = "Doe";
			    $scope.name = "";
			});	
		</script>
	</body>
</html>