<!DOCTYPE html>
<html lang="en">
	<head>
		<style> 
			/*.showNone::after {
				content:"alert 1!";*/
			#divUK {
				color: yellow;
			}
			#divFr {
				color: red;
			}
		</style>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

		<script>
			//set up myApp
		  	var app = angular.module('myApp', []);
			app.controller('sampleSizesCtrl', ['$scope', function($scope) {
		       $scope.charts = ['lineChart', 'lineWithFocusChart'];
		       $scope.my = { chart: '' };

		       $scope.sampleSize = 15;
                $scope.sampleSizeOptions = [30,60,90,365];

			    $scope.mySize;
			    $scope.myChart;
			    $scope.resetSampleSize = function(sampleSize){//if use vm the binding does not work
				 	$scope.mySize = sampleSize;
				};

				//select chart type
				$scope.selectChartType = function() {
					$scope.myChart = 'lineWithFocusChart';
				};
		     }]);
			
		</script>
	</head>

	<body ng-app="myApp">
		<div ng-controller="sampleSizesCtrl"> 
			<form name="myForm">
				<label for ="repeatSelect"> Reset Data Points </lable>
				<select 
					name="repeatSelect"
		            ng-model="sampleSize"
		            ng-change='resetSampleSize(sampleSize)'
		            ng-options='option for option in sampleSizeOptions'
		            style='width:120px'
	            >
            	</select>
            </form>
            <hr>
            <div> mySize = {{mySize}}</div>
            <div> sampleSize = {{sampleSize}}</div>

            <form>
			   <h2>Which is your favorite?</h2>
			     <label ng-repeat="chart in charts" for="{{chart}}">
			       {{chart}}
			       <input type="radio"
			              ng-model="my.chart"
			              ng-value="chart" //this is what is passed to ng-model
			              id="{{chart}}"
			              name="favorite">
			     </label>
			</form>
			<div> myType = {{my.chart}} </div> 
	 	</div>
	 </body>
</html>