<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<body>
		<div ng-app="Filter"> <!-- ng-controller="FilterController" -->
			<div ng-controller="FilterController as ctrl">
			  <div>
			    All entries:
			    <span ng-repeat="entry in ctrl.array">{{entry.name}} </span>
			  </div>

			 <!--  <input ng-model="letter" type=text></input> -->
			  <div>
			    Entries that contain an "<span>{{letter}}</span>":
			    <span ng-repeat="entry in ctrl.filteredArray">{{entry.name}} </span>
			  </div>
			</div>
	 	</div>

		<script>
			angular.module('Filter', []).
			controller('FilterController', ['filterFilter', function(fFilter) {
			  this.array = [
			    {name: 'Tobias'},
			    {name: 'Jeff'},
			    {name: 'Brian'},
			    {name: 'Igor'},
			    {name: 'James'},
			    {name: 'Brad'}
			  ];
			  console.log(this.array);
			  // $scope.letter = 'a';
			  this.filteredArray = fFilter(this.array, 'a');
			}]);
		</script>
	</body>
</html>