<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<body ng-app="myPhone" ng-controller="phoneCtrl">
		Search: <input ng-model="query"/>
		Sort by:
		<select ng-model="orderProp">
		  <option value="name">Alphabetical</option>
		  <option value="age">Newest</option>
		</select>
		 
		<ul class="phones">
		  <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
		    {{phone.name}}
		    <p>{{phone.snippet}}</p>
		  </li>
		</ul>
		
		<script>
			var app = angular.module('myPhone', []);
			app.controller('phoneCtrl', function($scope) {
				$scope.count = 0;
				$scope.phones = [
					{"name": "Nexus S",
				     "snippet": "Fast just got faster with Nexus S.",
				     "age": 0},
				    {"name": "Motorola XOOM™ with Wi-Fi",
				     "snippet": "The Next, Next Generation tablet.",
				     "age": 1},
				    {"name": "MOTOROLA XOOM™",
				     "snippet": "The Next, Next Generation tablet.",
				     "age": 2}
				];
  				$scope.orderProp = 'age';
			});
		</script>
	</body>
</html>